<%- include('../../partials/header.ejs')%>
    <%- include('../../partials/navbar.ejs')%>
        <div class="container">
            <hr>
            <h2>Artigos!</h2>
            <a class="btn btn-success" href="/admin/articles/new"> Criar novo artigo</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Category</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <% articles.forEach(article=> { %>

                        <tr>
                            <th> <%= article.id %> </th>
                            <th> <%= article.title %> </th>
                            <th> <%= article.slug %> </th>
                            <th> <%= article.categoryId %> </th>
                            <th>
                                
                            </th>

                        </tr>
        
    

                    <% }) %>


                </tbody>
            </table>
        </div>
        <%- include('../../partials/footer.ejs')%>

            <script>

                function confirmarDelecao(event, form) {
                    event.preventDefault()
                    let decisao = confirm("Vc quer deletar essa categoria ?")
                    if (decisao) {
                        form.submit()
                    }
                }

            </script>